<div id="wrapper">
 <div class="overlay"></div>

 <!-- Sidebar -->
 <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
     <ul class="nav sidebar-nav">
         <li class="sidebar-brand">
             <a href="http://clndr.herokuapp.com">
                Calendr
             </a>
         </li>
         <!--<li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
             <li class="dropdown-header">View</li>
             <li><a href="#">Week</a></li>
             <li><a href="#">Month</a></li>
             <li><a href="#">Year</a></li>
             <li><a href="#">List</a></li>
           </ul>
         </li>-->
         <% if @user.token.nil? %>
            <li><%= link_to "Import Google Calendar", oauth2authorize_path(@user) %></li>
         <% end %>
         <li>
             <%= link_to "Settings", edit_user_registration_path %>
         </li>
         <li>
             <%= link_to "Log out", destroy_user_session_path, method: :delete %>
         </li>
     </ul>
 </nav>
 <!-- /#sidebar-wrapper -->




 <!-- Page Content -->
 <div class="row" id="page-content-wrapper">

           <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
              <span class="hamb-top"></span>
             <span class="hamb-middle"></span>
             <span class="hamb-bottom"></span>
           </button>

      <div class="col-md-1">
      </div>
      <div class="col-md-7">
        <%= javascript_tag do %>
          window.rootPath = '<%= j user_url(@user) %>';
        <% end %>
        <h2></h2>
        <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "suggestion preference" %><br />
    <%= f.check_box :suggestion, autofocus: true %>
  </div>


<h4>Notification Preferences</h4>
  <div class="field">
    <%= f.label "Send email reminders" %><br />
    <%= f.number_field :remind, :value => 5 %> days in advance.
    <br>
    <small>Set to zero if you don't want a reminder by default.</small> 
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back, :class => 'btn btn-default' %>

      </div>

 <!-- /#page-content-wrapper -->
</div>
   <!-- /#wrapper -->


